/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url('../JOGO/img/jogo.png') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Define a cor do texto como branca */
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    max-width: 1200px; /* Limite máximo de largura para melhor aparência */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(50px);
    border-radius: 40px;
    padding: 20px; /* Adiciona preenchimento para espaçamento */
}

.body-in {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não saia dos limites do contêiner */
}

.image-container img {
    width: 100%; /* Define a largura da imagem para 100% do contêiner */
    height: 100%; /* Define a altura da imagem para 100% do contêiner */
    object-fit: cover; /* Garante que a imagem cubra todo o contêiner */
    border-radius: 10px;
    opacity: 0.5; /* Define a opacidade da imagem para 50% */
}

h1 {
    font-size: 2.5em; /* Aumenta o tamanho da fonte do título */
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: black; /* Cor do texto dentro do input */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white; /* Cor do texto do botão */
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
}

#tentativas-restantes {
    margin-top: 10px;
    font-weight: bold;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .image-container {
        padding: 10px 0;
    }

    input[type="number"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    input[type="number"] {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}
